parameters:


application:
	mapping:
		*: ['App\Frontend', '', '*\Presenters\*Presenter']


latte:
	strictTypes: yes
	strictParsing: yes


session:
    autoStart: always
    expiration: 14 days


di:
	export:
		parameters: no
		tags: no
